---
const { frontmatter } = Astro.props;
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
		<meta name="description" content={frontmatter.description} />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css" integrity="sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0" crossorigin="anonymous">
	</head>
	<body>
		<header class="header">
			<h1>Grand Tokyo</h1>
			<nav>
				<ul>
					<li><a href="/">Project</a></li>
					<li><a href="/about">Wet Lab</a></li>
					<li><a href="/about">Dry Lab</a></li>
					<li><a href="/about">Human Practice</a></li>
					<li><a href="/about">Team</a></li>
				</ul>
			</nav>
		</header>
		<h1>{frontmatter.title}</h1>
		<p class="header-description">{frontmatter.description}</p>
		<div class="container">
			<slot />
		</div>
		<footer>
			<p>&copy;2024 - Content on this site is licensed under a Creative Commons Attribution 4.0 International license.</p>
			<p>The repository used to create this website is available at <a>https://github.com/grand-tokyo/team-wiki</a></p>
		</footer>
	</body>
</html>

<style is:global>
	body{
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		margin: 0;
		padding: 0;

	}
</style>
