---
const { frontmatter } = Astro.props;
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
		<meta name="description" content={frontmatter.description} />
	</head>
	<body>
		<header class="header">
			<h1>{frontmatter.title}</h1>
			<p class="header-description">{frontmatter.description}</p>
		</header>
		<div class="container">
			<slot />
		</div>
	</body>
</html>

<style is:global>
	body{
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		margin: 0;
		padding: 0;

	}
</style>
